.create {
    display: flex;
    justify-content: center;

}

.MuiCardHeader-content>span.MuiCardHeader-title {
    font-weight: 900;
}

.tag__container {
    display: flex;
    justify-content: right;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.tag {
    background-color: #2e81f4;
    border-radius: 3rem;
    height: 3rem;
    padding: 1rem;
    margin: .5rem;
}

.create__button {
    display: flex;
    justify-content: center;
}

.create__button>.MuiButton-containedPrimary {
    background-color: #2e81f4;
    width: 90%;
}